.org-header {
  margin-bottom: 10px;
  margin-top: 20px;
}
.org-header-avatar {
  display: inline-block;
  height: 64px;
  margin-right: 12px;
  overflow: hidden;
  width: 64px;
}
.org-header-avatar.visible-xs-inline {
  height: 32px;
  margin-right: 6px;
  width: 32px;
}
.org-header-info {
  display: inline-block;
  vertical-align: middle;
}
.org-header-text {
  font-size: 32px;
  font-weight: 400;
  margin: 0;
}
.org-header-text small {
  font-size: 70%;
  font-weight: 300;
}
.org-header-text project {
  color: rgb(240, 124, 24);
  font-size: inherit;
  font-weight: 300;
}
.page-header.nav {
  margin-bottom: 4px;
  margin-top: 16px;
}
#doc-nav a:focus {
  background: inherit;
}
#doc-nav a.active:focus,
#doc-nav a.active:hover,
#doc-nav a.active:link,
#doc-nav a.active:visited {
  color: rgb(240, 124, 24);
}
div#doc-pane {
  border: 0;
  margin-top: 16px;
  width: 100%;
}
